.MuiDrawer-paper {
    z-index: 999!important;
    position: fixed;
}
@media (min-width: 600px){
    .makeStyles-appBar-36 {
        width: 100%!important; 
        margin-left: 270px!important;
    }
}
a{
    text-decoration: none!important;
}
.makeStyles-appBar-3 {
    width: 100%!important;
}
.MuiAppBar-root {
    width: 100%;
    display: flex;
    z-index: auto!important;
}
.MuiToolbar-regular {
     min-height: 0px!important;
}
.MuiTypography-displayBlock {
    display: block;
    color: #707070;
}
.MuiListItemIcon-root {
    color: #707070!important;
    display: inline-flex;
    flex-shrink: 0;
}
.MuiList-padding {
    padding: 15px!important;
    background-color: #fff;
}
// .makeStyles-drawerPaper-5 {width: 270px!important;}
.makeStyles-content-6 {
    height: 100vh!important;
    padding: 0px!important;}
.MuiDivider-root{
    border: solid 1px #707070!important;
    height: auto!important;
}
.MuiListItem-gutters {
    padding: 15px 0!important;
}
.font_job_si{
    color: #707070!important;
}
.sidebar_icons{
    padding-left: 10px!important;
}
.MuiCollapse-wrapperInner{
    margin-left: 20px!important;
}
.MuiListItemIcon-root {
    min-width: 40px!important;
    font-size: 20px;
}
.rounded_img{
    border-radius: 50px;
    border: 2px solid #fff;
}
.user-right{
    text-align: right!important;
}
.swatada{
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a!important;
    font-size: 20px;
}
.baba_img{
    margin: 0 auto;
    img{
        width: 100px;
    }
}
.user_box{
    border: 1px solid #ccc;
    border-radius:15px;
}